/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: #ecf0f5;

  -webkit-app-region: drag;
}
#close {
  position: fixed;
  top: 5px;
  background-color: transparent;
  border: none;
  color: rgb(54, 127, 169);
  font-size: 30px;
  cursor: pointer;
  padding: 0;
  right: 10px;
}
p-card {
  padding: 0 25px !important;
  display: block !important;
}
.img p-card {
  padding: 0 !important;
}
.img p-card > div, .img p-card img {
  height: 182px !important;
  width: 182px !important;
  display: block !important;
}
.img .ui-card-body {
  padding: 0 !important;
}
.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
  padding: 0 !important;
}
.ui-menu {
  width: 100% !important;
}
body input {
  border: 1px solid transparent !important;
}
body .ui-button {
  background-color: rgb(54, 127, 169) !important;
  border: 1px solid transparent !important;
}
.mainMenu li.active {
  background-color: #1e282c !important;
  border-radius: 0 !important;
  border-left: 3px solid #3c8dbc;
}
.mainMenu li.active span {
  color: white !important;
}
.mainMenu {
  background-color: #222d32 !important;
  border: none !important;
  border-radius: 0 !important;
}
.mainMenu li, .mainMenu a {
  background-color: transparent !important;
  border-left: 3px solid transparent;
}
.mainMenu span {
  color: #b8c7ce !important;
}
